@tailwind base;
@tailwind components;
@tailwind utilities;

.red{
    color: #F77F78;
}
.navbarT{
    border-bottom: #E5E5E5 2px solid;
}
body {
    font-family: 'Poppins', sans-serif;
}
.bg-primary{
    background-color: #F77F78;
}
.sec-color{
    background: #F6F6F6;
}
.image{
    height: 250px;
    width: 300px;
}
.input-s{
    border: #F77F78 1px solid ;
    padding:2px 12px 2px 12px ;
    width: 300px;
    border-radius: 22px;
}
.input-b{
    border: #F77F78 1px solid ;
    padding:2px 12px 2px 12px ;
    width: 70%;
    border-radius: 22px;
}